<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <!--test name="class-testing">
        <classes>
            <class name="DemoTestNG.demoTests"/>
        </classes>
    </test-->

    <!-- test name="package-DemoTestNG" preserve-order="true" verbose="2">
        <packages>
            <package name="DemoTestNG"></package>
        </packages>
    </test -->

    <test name="group-testing" preserve-order="true" verbose="2">
        <groups>
            <run>
                <!--
                    "interactive"
                    "web" { "grabber", "google", "yandex", "avito", "pagination", "crossbrowsertesting", "js" }
                    "local" { "test_N", "alerts" }
                    "demo" { "drivers", "test_N" }
                -->
                <include name="test_N"></include>
                <include name="js"></include>
            </run>
        </groups>
        <classes>
            <class name="DemoTestNG.driversTests"></class>
            <class name="DemoTestNG.demoTests"></class>
            <class name="Alerts"></class>
            <class name="Avito"></class>
            <class name="CheckTitle"></class>
            <class name="DragAndDrop"></class>
            <class name="Google"></class>
            <class name="JSvsADV"></class>
            <class name="Pagination"></class>
            <class name="Windows"></class>
            <class name="Yandex"></class>
        </classes>
    </test>

</suite>