<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
<!--    <test name="class-DemoTestNG.demoTests">-->
<!--        <classes>-->
<!--            <class name="DemoTestNG.demoTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="package-DemoTestNG" preserve-order="true" verbose="2">-->
<!--        <packages>-->
<!--            <package name="DemoTestNG"/>-->
<!--        </packages>-->
<!--    </test>-->

    <test name="all-tests-by-group" preserve-order="true" verbose="1">
        <groups>
            <!--
                "interactive"
                "web" { "grabber", "google", "yandex", "avito", "pagination", "crossbrowsertesting", "js" }
                "local" { "test_N", "alerts" }
                "demo" { "drivers", "test_N" }
            -->
            <run>
                <include name="drivers"/>
            </run>
        </groups>

        <classes>
            <class name="DemoTestNG.driversTests"/>
            <class name="DemoTestNG.demoTests"/>
            <class name="Alerts"/>
            <class name="AvitoAuto"/>
            <class name="CheckTitleSite"/>
            <class name="DragAndDrop"/>
            <class name="GoogleKeyboard"/>
            <class name="JSvsYandexADV"/>
            <class name="Pagination"/>
            <class name="TwoWindowsSearch"/>
            <class name="YandexImages"/>
        </classes>

        <parameter name="title" value="Добро пожаловать | ВКонтакте"/>
        <parameter name="url" value="https://vk.com/"/>
        <parameter name="query" value="Selenium WebDriver"/>

    </test>

<!--    <test name="title-test" preserve-order="true" verbose="1">-->
<!--        <classes>-->
<!--            <class name="CheckTitleSite"/>-->
<!--        </classes>-->
<!--        <parameter name="title" value="Добро пожаловать | ВКонтакте"/>-->
<!--        <parameter name="url" value="https://vk.com/"/>-->
<!--    </test>-->

<!--    <test name="search-queries" preserve-order="true" verbose="1">-->
<!--        <classes>-->
<!--            <class name="TwoWindowsSearch"/>-->
<!--        </classes>-->
<!--        <parameter name="query" value="Java"/>-->
<!--    </test>-->

</suite>